<div class="col-md-6 container">
<h2 class="text-center">Register Customer</h2>
<form [formGroup]="addCustomerForm" (ngSubmit)="onSubmit()">
    
    <div class="form-group">

        <label for="username">User Name</label>
        <input type="text" formControlName="username" placeholder="username"
            name="username" class="form-control" id="username">
    </div>

    <div class="form-group">

        <label for="password">Password</label>
        <input type="password" formControlName="password" placeholder="password"
            name="password" class="form-control" id="password">
    </div>

    <div class="form-group">

        <label for="role">Role</label>
        <input type="text" formControlName="role" placeholder="role"
            name="role" class="form-control" id="role">
    </div>

    <input type="submit" value="Register" class="btn btn-success">
    
</form>


</div>