<div class="container">
    <div class="col">
        <div class="card">
            <div class="card-header">{{customer.username}}</div>
            <div class="card-body">
                <div class="card-title">Customer Details
                    <div class="card-subtitle">
                        <h4>{{customer.role}}</h4>
                        <h5>{{customer.id}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button (click)="onBack()">Back</button>
            </div>
        </div>
    </div>
</div>